//theme colors
$main: #FFFFFF;
$accent: #006699;
$lt-accent: #0086b3;
$link: #ff9966;
$orange: #cc6600;
$green: #009999;
$button: #bfbfbf;

// mixins
@mixin flex-style($flow, $justify) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: $flow;
  justify-content: $justify;
}

@mixin box-style($style) {
  -webkit-box-sizing: $style;
  -moz-box-sizing: $style;
  box-sizing: $style;
}

html {
  @include box-style(border-box);
  font-family: 'Advent Pro', sans-serif;
  font-size: 18px;
}

body {
  // prevents margin white spaces around page
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

textarea {
  resize: none;
}
//Main App (Parent Container)---
#main-App-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

#main-Home-container {
  height: 100%;
  display: flex;
  flex-flow: row-wrap;
  justify-content: space-around;
  padding-bottom: 50px;
}
//------------------------------

/* STYLE SETTINGS  */
#source {
  position: relative;
  min-height: 100%;
}

#header {
  background-image: url("/assets/connect_@2X.png");
  background-repeat: repeat;
  background-position: center;
  background-attachment: center fixed;
  #header-bottom-border {
    width:100%;
    height: 30px;
    background-color: $accent;
  }
}
//Burger Bar -----------------
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 24px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $button;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  // width: 250px;
  background: #373a47;
  opacity: 0.9;
  padding: 2em 0.5em 0;
  font-size: 1.15em;
  a {
    color: $main;
    padding: 8px;
    line-height: 75px;
  }
}

.bm-menu a:hover {
  color: $link;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  width: 200px;
  color: #b8b7ad;
  padding: 0.8em;
  padding-top: 2em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0);
}

#line {
  border: solid $main 0.5px;
  width: 75%;
}
//Welcome user--------------------
.welcomeUserSign{
  position: absolute;
  right: 36px;
  top: 20px;
  display: flex;
  justify-content: flex-end;
  color: $accent;
  margin-right: 10px;
  font-size: 120%;
}
//Logo/App Title-----------------
#logo {
  background-image: url("/assets/network.icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: center fixed;
  height: 150px;
  width: 300px;
  margin: 0 auto;
  padding-bottom: 10px;
}

#title {
  font-size: 250%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  color: $link;
}
//Login------------------------
#login-container {
  height: auto;
  width: 100%;
  text-align: center;
  padding-top: 70px;
  .google-icon {
    background-image: url("/assets/google.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: center fixed;
    height: 120px;
    width: 120px;
    margin: 0 auto;
  }
  .login-welcome {
    padding-bottom: 40px;
  }
}
button.google-login {
  background-color: #d14836;
  color: $main;
  width: 190px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Advent Pro';
  font-weight: bold;
  font-size: 100%;
}
//Create shift buttons----------
#column-1 {
  order: 1;
  height: 100%;
}

#main-shift-button-container {
  order: 2;
  width: 200px;
  display: flex;
  flex-wrap: row-wrap;
  justify-content: center;
  margin-left: 20px;
  #custom-button {
    height: 140px;
    font-size: 80%;
    background-color: $link;
    color: $main;
    border: transparent;
    margin: 5px;
  }
  #create-shift-button {
    height: 40px;
    font-size: 70%;
    background-color: #0086b3;
    color: $main;
    border: transparent;
    margin: 5px;
  }
}

.open-shifts {
  display: flex;
  justify-content: center;
  font-size: 120%;
  border-bottom: 2px solid black;
  margin-top: 30px;
  margin-bottom: 10px;
}
//Column 2---------------------
#iframe-div {
  order: 3;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 10px;
}

#calendar-title {
  font-size: 200%;
}

//Main Shift Container----------
#main-shift-container {
  order: 4;
  width: 300px;
  height: 100%;
  margin-left: 20px;
}

#todays-shifts {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
  font-size: 120%;
  margin-top: 10px;
  margin-bottom: 10px;
}

//Shift Card--------------------
.open-shiftCard {
  width: 270px;
  height: 170px;
  background-color: $main;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  border: 0.5px solid $button;
}
.open-shiftCard:hover {
  box-shadow: 3px 3px 2px $button;
  margin-top: 5px;
  width: 260px;
  height: 170px;
  background-color: $orange;
  display: flex-wrap;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  margin-left: 10px;
  transition: 0.5s ease-in-out;
  transition: 0.5s ease;
}
//---------------------
.shiftCard {
  width: 270px;
  height: 170px;
  background-color: $main;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-right: 20px;
  border: 0.5px solid $button;
}
.shiftCard:hover {
  box-shadow: 3px 3px 2px $button;
  margin-top: 5px;
  width: 260px;
  height: 170px;
  background-color: $green;
  display: flex-wrap;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  margin-left: 10px;
  transition: 0.5s ease-in-out;
  transition: 0.5s ease;
}

.open-shiftCardSummary {
  background-color: $link;
  color: $main;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  max-height: 30px;
}
.shiftCardSummary {
  background-color: $link;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  max-height: 30px;
}

.shiftCardLocation {
  background-color: lightgrey;
  max-height: 30px;
}

.shiftCardStart {
  background-color: lightgrey;
}

.shiftCardLength {
  background-color: lightgrey;
}

.empCardImage {
  max-width: 50px;
  max-height: 50px;
}

.chatButtonOnShiftCard {
  background-color: #66b3ff;
  color: white;
  border: transparent;
  box-shadow: 2px 2px 2px black;
  margin-right: 10px;
}

.chatButtonOnShiftCard:hover {
  background-color: #66b3ff;
  border: transparent;
  transition: 0.5s ease-in-out;
  transition: 0.5s ease;
}

.detailsButtonOnShiftCard {
  background-color: #66b3ff;
  border: transparent;
  box-shadow: 2px 2px 2px black;
  margin-right: 10px;
}

.detailsButtonOnShiftCard:hover {
  background-color: #66b3ff;
  border: transparent;
  transition: 0.5s ease-in-out;
  transition: 0.5s ease;
}

.absentBoxOnShiftCard {
  background-color: #66b3ff;
  color: white;
  border: transparent;
  box-shadow: 2px 2px 2px black;
  margin-right: 10px;
}

.backButtonOnShiftCard {
  background-color: $accent;
  color: white;
  border: transparent;
  box-shadow: 2px 2px 2px black;
  margin-right: 10px;
}

.confirmAbsentButton {
  font-size: 115%;
  background-color: #66b3ff;
  color: white;
  border: transparent;
  box-shadow: 2px 2px 2px black;
  margin-bottom: 10px;
}

.confirmAbsentHeading {
  color: black;
  text-align: center;
}
//User List-------------------
#user-list-container {
  height: 100%;
  padding: 10px;
  padding-left: 60px;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 50px;
}

#staff-title {
  padding-right: 80px;
 p {
  text-align: right;
  width: 200px;
  font-size: 200%;
  border-bottom: 2px solid black;
  }
}

#user-card-container {
  border-bottom: 2px solid darkgray;
  border-left: 2px solid darkgray;
  width: 700px;
  padding: 30px;
  margin: 10px;
  font-size: 110%;
}

.eachUser {
  display: flex;
  flex-wrap: row wrap;
}

.eachUserDetail {
  padding-top: 30px;
  line-height: 150%;
}

// Twillio---------------------
.ChatApp {
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 375px;
  width: 650px;
  margin-top: 35px;
  margin-bottom: 25px;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to top, #66b3ff 0%, #ffffff 100%);
  .MessageList {
    box-sizing: border-box;
    flex: 1;
  }
  .MessageForm {
    display: flex;
    background: #eee;
    border-top: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    box-sizing: border-box;
    flex: 0 0 30px;
  }
  .MessageForm .input-container {
  flex: 1;
  color: black;
  font-size: 24px;
  height: 35px;
  }
  .MessageForm .button-container {
  flex: 0 0 6em;
  // margin: 1px 1px 1px 0;
  }
  input.send-button {
   background: $button;
   height: 35px;
   font-size: 24px;
  }
}

.MessageList {
  overflow-y: auto;
  padding: 4px;
}

.Message {
  line-height: 1.5em;
  font-size: 24px;
  font-weight: bold;
}

.Message.log {
  color: black;
  font-size: 24px;
}

.Message .author {
  font-weight: bold;
  color: black;
  margin: 0 5px 0 0;
}

.Message.me .author {
  color: black;
}

.MessageForm input, .MessageForm button {
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: inherit;
  height: 100%;
  outline: none;
  width: 100%;
}

.MessageForm input {
  background: $main;
  font-family: 'Advent Pro', sans-serif;
}
// Footer--------------------
#footer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  left: 0;
  bottom: 0;
  position: fixed;
  height: 25px;
  width: 100%;
  // padding-top: 10px;
  background-color: $accent;
  color: $main;
}
//404 Page--------------------
#not-found{
  background-color: #f7674a;
  text-align: center;
  height: 100%;
  margin-top: 5px;
}
// ---------------------------
@media only screen
  and (min-device-width: 320px)
  and (min-device-height: 568px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .nav-links {
      background-color: $accent;
      display:flex;
      justify-content: center;
    }
    .welcomeUserSign{
      color: transparent;
    }
    .mobileWelcomeUserSignOnly{
      color: white;
    }
    .accept-Shift-Container{
    display: flex-wrap;
    justify-content: center;
    text-align: center;
    }
    .accept-shiftCard {
      width: 270px;
      height: 170px;
      background-color: $main;
      justify-content: center;
      text-align: center;
      border-radius: 10px;
      margin-bottom: 5px;
      margin-top: 40px;
      border: 0.5px solid $button;
    }
  //Mobile Shift View-----------
  .acceptShift {
    display: flex;
    justify-content: center;
  .mobile-container {
    display: block;
  }
    .mobileButtons {
      width: 270px;
      .acceptShiftButton{
        font-family: 'Advent Pro', sans-serif;
        font-size: 110%;
        width: 270px;
        height: 50px;
        background-color: $green;
        margin-top: 10px;
        color: $main;
      }

      .declineShift{
        font-family: 'Advent Pro', sans-serif;
        font-size: 110%;
        width: 270px;
        height: 50px;
        background-color: $orange;
        margin-top: 10px;
      }

      .detailsShift{
        font-family: 'Advent Pro', sans-serif;
        font-size: 110%;
        width: 270px;
        height: 50px;
        background-color: $accent;
        margin-top: 10px;
      }
    }
  }


  .declined-Shift{
    position: absolute;
    z-index: 2000;
    width: 270px;
    height: 220px;
    background-color: salmon;
    font-size: 40px;
    padding-top: 140px;
    color: black;
    font-style: bold;
    vertical-align: center;
    text-align: center;
    opacity: 0.9;


  }
  .accepted-Shift{
    position: absolute;
    z-index: 2000;
    width: 270px;
    height: 220px;
    background-color: lightgreen;
    font-size: 40px;
    padding-top: 140px;
    color: black;
    font-style: bold;
    vertical-align: center;
    text-align: center;
    opacity: 0.9;

  }
}


@media screen and (max-width: 768px) {
  #header {
    width: 100%;
  }
  #main-Home-container {
    display: block;
    align-items: center;
    width: 100%;
  }
  #iframe-div {
    overflow: scroll;
  }
}
.assignEmpDiv{
  display: flex;
  flex-wrap: wrap;
}

.assignEmp{
  width: 80px;
  height: 80px;
  border-radius: 100px;
}
.assignEmp:hover{
  border: 5px solid #0086b3;
  width: 80px;
  height: 80px;
  border-radius: 100px;
}


